
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  color: #333;
}
header {
  background: #e24a4a;
  color: white;
  text-align: center;
  padding: 1.5em;
}
header h5 {
    font-weight: normal;
    margin-bottom: 0.60em;
}
header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
header nav a:hover {
  text-decoration: underline;
}
.hero {
  background: linear-gradient(to right, #e24a4a, #e77878);
  color: white;
  font-size: smaller;
  text-align: center;
  padding: 8px;
}
.content {
  background: white;
  margin: 2em auto;
  padding: 2em;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer {
  position: fixed;
  background: #333;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 3em;
}
